.title{
    font-weight: normal;
    font-size: 195%;
    color: rgb(197, 26, 120);
    font-family:monospace;
    position:relative; bottom: -1px; top: 5px;
}

.title1{
    font-weight: normal;
    font-size: 185%;
    color: rgb(197, 26, 120);
    font-family:monospace;
    position: relative; left: 84rem; bottom: 25px; bottom: 1.799em; right: 8em;
   
}


.paragraph{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    
}


.paragraphbuttons{
    text-decoration: none;
}
.paragraphbuttonsWatchH{
    text-decoration: none;
    color: yellow;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    position: relative; 
}

.video
{
    position: relative; left: 30em;
}
.titleJ
{
    font-weight: normal;
    font-size: 195%;
    color: rgb(197, 26, 120);
    font-family:monospace;
    position:relative; bottom: -2px; top: 5px; 
}

.titleB
{
    font-weight: normal;
    font-size: 150%;
    color: rgb(197, 26, 120);
    font-family:monospace;
    align-items: center;

}
.paragraph1
{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: coral;
}
.lowlighttext
{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(156, 156, 156);
}
.responsiveImg
{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
}
@media (prefers-color-scheme: light)
{
  body
  {
    background-color: white;
  }
}
@media (prefers-color-scheme: dark)
{
  body
 {

    background-color: black;
  }
  .paragraphbuttonsWatchH{
    text-decoration: none;
    color: yellow;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}
