.title{
    font-weight: normal;
    font-size: 195%;
    color: rgb(197, 26, 120);
    font-family:monospace;
    position:relative; bottom: -1px; top: 5px;
    animation: transitionIn 0.4s;
    transition: color 400ms linear;
}
.title:hover{
  font-weight: normal;
    font-size: 195%;
    color: rgb(219, 25, 132);
    font-family:monospace;
    position:relative; bottom: -1px; top: 5px;
    animation: transitionIn 0.4s;
}

.title1{
    font-weight: normal;
    font-size: 185%;
    color: rgb(197, 26, 120);
    font-family:monospace;
    position: relative; left: 84rem; bottom: 25px; bottom: 1.799em; right: 8em;
    animation: transitionIn 0.4s;
   
}

a{
    position: relative; 
    animation: transitionIn 0.4s;
}

.video
{
    position: relative; left: 30em;
    animation: transitionIn 0.4s;
}
.titleJ
{
    font-weight: normal;
    font-size: 195%;
    color: rgb(197, 26, 120);
    font-family:monospace;
    position:relative; bottom: -2px; top: 5px; 
    animation: transitionIn 0.4s;
}

.titleB
{
    font-weight: normal;
    font-size: 150%;
    color: rgb(197, 26, 120);
    font-family:monospace;
    align-items: center;
    animation: transitionIn 0.4s;

}
.paragraph1
{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: coral;
    transition: color 400ms linear;
    animation: transitionIn 0.4s;
}
.paragraph1:hover
{
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: rgb(255, 0, 0);
}
.lowlighttext
{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(156, 156, 156);
    animation: transitionIn 0.4s;
}
.responsiveImg
{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        animation: transitionIn 0.4s;
}

  .paragraphBig
  {
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 23px;
    animation: transitionIn 0.4s;
  }
  @keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateX(-10deg)
    }
    to{
        opacity: 1;
        transform: rotateX(0)
    }
  }

@media (prefers-color-scheme: light)
{
  code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 1px;
    font-size: 105%;
    animation: transitionIn 0.4s;
  }
    
.paragraph{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    animation: transitionIn 0.4s;
}
.paragraphbuttons
{
    text-decoration: none;
    animation: transitionIn 0.4s;
}
  body
  {
   
    background-color: white;
  }
  .paragraphDark
  {
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(197, 26, 120);
    animation: transitionIn 0.4s;
  }
  .paragraphbuttonsLarge
  {
    text-decoration: none;
    color: rgb(197, 26, 120);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    animation: transitionIn 0.4s;
  }
  .paragraphBig
  {
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 23px;
    color: black;
    animation: transitionIn 0.4s;
  }
}
@media (prefers-color-scheme: dark)
{
   
  code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #96969661;
    padding: 1px;
    font-size: 105%;
    animation: transitionIn 0.4s;
  }
.paragraph{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    animation: transitionIn 0.4s;
}
.paragraphDark
{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: yellow;
    animation: transitionIn 0.4s;
}
.paragraphbuttons
{
    text-decoration: none;
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: transitionIn 0.4s;
}
.paragraphbuttonsLarge
{
    text-decoration: none;
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    animation: transitionIn 0.4s;
}
  body
  {
    background-color: black;
  }
  .paragraphBig
  {
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 23px;
    color: white;
    animation: transitionIn 0.4;
  }
}